header, footer {
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #4b91f1;
}
h1 {
    text-align: left;
}
h2 {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}
h3 {
    font-weight: normal;
}
h4 {
    font-size: smaller;
    text-align: center;
    font-weight: lighter;
    
}
ol {
    list-style-type:none;
    display:flex;
    text-align:right;

}
ul {
    position: sticky;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4b91f1;

}
li {
    float:right;
}
li a {
    display: block;
    color: #EEF1F6;
    text-align:center;
    padding: 18px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #A5DBDD;
}
