h1 {
    text-align: float;
}
h2 {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}
ol {
    list-style-type:none;
    display:flex;
    text-align:right;
}
ul {
    position: sticky;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4b91f1;
}
header, footer {
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #4b91f1;
}
li {
    float:left;
}
li a {
    display: block;
    color: #EEF1F6;
    text-align:center;
    padding: 18px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #A5DBDD;
}
article {
    background-image: url("/Images/muligbilde.jpg"); 
    height: 1200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}