body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 1200px;
    font-size: 18px;
    margin: 0 auto;
    padding: 5px;
}

header, footer {
    padding-bottom: 20px;
    color: white;
}

.navbar {
    width: 100%;
    background-color: #4b91f1;
    overflow: auto;
    text-align: center;
    position: relative;
}

ul li {
    display: inline-block;
    padding: 1vh;
    text-align: center;
}

.logo img {
    display: block;
    margin: 0 auto;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 35px;
}

.navbar a:hover {
    background-color: #A5DBDD;
}

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}

.container {
    clear: both;
    overflow: auto;
}

.hero {
    background-image: url(/Images/prøvebilde.jpg);
    background-position: center;
    background-repeat: no-repeat;
    color: black;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: left;
    justify-content: left;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.container .info h1 {
    font-size: 3rem;
    margin-bottom: 5rem;
}

.container .info h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.container .info p {
    font-size: 1.2rem;
    max-width: 70%;
}

.container .info {
    background-color: #EEF1F6;
    opacity: 86%;
    padding: 2vh;
}


/* button- 52*/
.button-52 {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    display: inline-block;
    text-align: center;
    
.button-52:after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.button-52:hover:after {
    top: 0px;
    left: 0px;
}

@media (min-width: 768px) {
    .button-52 {
        padding: 13px 50px;
    }
}
}

/* General carousel styles */
.image-carousel {
    text-align: center;
    font-size: 25px;
    background-color: #EEF1F6;
    padding: 3vh;
}

.carousel-container {
    position: relative;
    width: 100%; 
    margin: 0 auto;
    overflow: hidden;
}


.carousel {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px; 
}


.carousel-item {
    width: 300px; 
    height: 500px;
    overflow: hidden; 
    transition: transform 0.3s ease-in-out;
}


.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


.carousel-item:hover {
    transform: scale(1.10); 
}
